PORT=

MY_SQL_USER=
MY_SQL_PORT=
MY_SQL_CONNECTION_LIMIT=
MY_SQL_CHARSET=

DB1_MY_SQL_HOST=
DB1_MY_SQL_PASSWORD=
DB1_MY_SQL_DATABASE=

DB2_MY_SQL_HOST=
DB2_MY_SQL_PASSWORD=
DB2_MY_SQL_DATABASE=

NODE_ENV=